# Docker Compose development defaults
POSTGRES_DB=vlms
POSTGRES_USER=vlms
POSTGRES_PASSWORD=vlms_dev_password
POSTGRES_PORT=5432
BACKEND_PORT=3000
FRONTEND_PORT=5173
FRONTEND_ORIGIN=http://localhost:5173

